@use "functions" as *;
@use "config" as *;
@use "utils/state";
@use "utils/layers";

/// Generates a `min-width` media query for a given breakpoint. If the smallest breakpoint is used,
/// the content will be returned without a media query.
/// 
/// @example scss Input
///   .example {
///     @include responsive.breakpoint("sm") { width: 100%; }
///     @include responsive.breakpoint("md", $and-up: true) { width: 50%; } 
///   }
/// 
/// @example css Output
///    @media (min-width: 36em) {
///      @media not all and (min-width: 48em) {
///        .example {
///          width: 100%;
///        }
///      }
///    }
///    @media (min-width: 48em) {
///      .example {
///        width: 50%;
///      }
///    }
@mixin breakpoint($input, $and-up: false, $use-layers: null) {
  $next-breakpoint: null;
  @if not $and-up {
    $next-breakpoint: next-breakpoint($input);
  }

  @include state.with-breakpoint($input, $and-up) {
    @include -media-query($input, $next-breakpoint) {
      @include layers.with-layer($use-layers) {
        @content;
      }
    }
  }
}

// Always combine with state.with-breakpoint and layers.with-layer.
@mixin -media-query($from, $to: null) {
  $min-width: responsive-width($from, "em", $first-zero: true);
  $max-width: responsive-width($to, "em");
  @media (min-width: $min-width) {
    @if $to == null {
      @content;
    } @else {
      $max-width: responsive-width($to, "em");
      @media not all and (min-width: $max-width) {
        @content;
      }
    }
  }
}